body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  margin: 15px 0 10px 0;
}

.content {
  background: #e3f4ff;
  padding: 20px 10px 20px 10px;
  margin: 10px 0 10px 0;
}

.button-container {
  background: #e3f4ff;
  padding: 10px;
  margin: 10px auto 10px auto 10px;
  text-align: center;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin: 0 auto 0 auto;
}